<h1 class="red"> Monit process management example </h1>
<p> Switches the status of the process, handled by Monit on a remote server ( in this example another docker container ) </p>


<label class="switch">
  <input id="monitSwitch" type="checkbox">
  <span class="slider round"></span>
</label>

